
body {
    margin: 0;
    padding: 0;
}


.header {
   background: #1F2937;
   height: 72px;
   display: flex;
   justify-content: space-between;
   padding: 0px 48px;
   font-weight: 900;

}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
} 

.header li {
    list-style-type: none;
}

.header a {
    color: white;
    text-decoration: none;
} 

ul  {
    display: flex;
    gap: 8px;
} 

.hero {
    display: flex;
    justify-content: center;
    padding: 0 48px;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 50px;
    
} 

.left-side, .right-side {
    border: 1px solid red;
} 

.left-side {
    width: 450px;
}

img {
    width: 400px;
    
} 

.boxes {
    display: flex;
   
    padding: 0 48px;
    justify-content: center;
    gap: 20px;
    
}

.box {
    
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
} 



.boxx {
    display: flex;
    flex-direction: column;
} 

.boxx p {
    width: 150px;
}

.info h2 {
    text-align: center;
} 

.quote {
    background: #E5E7EB;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
} 

.quote-p {
    width: 600px;
    font-size: 36px;
    
    font-style: italic;
} 

.quote-p .Thor {
    text-align: right;
    font-weight: bold;
    font-size: 24px;




}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
/*     height: 400px;
    width: 700px; */
    gap: 10px;
    background-color: #3882F6;
    height: 100px;
    /* width: 700px; */
    width: 70%;
    border-radius: 10px;
    color: #E5E7EB;
    
} 

.time {
  
} 

.time {
    display: flex;
    
}

button {
    height: 30px;
    width: 100px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
} 

.discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container1 {
    background: white;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.footer {
    background-color: #1F2937;
    height: 100px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;

} 

@media only screen and (max-width: 800px) {
    .boxes {
        flex-wrap: wrap;
    }
}



